<div class="jumbotron mt-4">
    <h1 class="display-4">T-LAB Laboratorios clínicos</h1>
    <p class="lead">¡La salud al alcance de todos!</p>
    <hr class="my-4">
    <p>Para disfrutar de todos nuestros servicios registrate</p>
    <a href="/users/signup" class="btn btn-primary">Registro</a>

</div>
